<%- include("partials/header"); %>
<style>
    body
{
	background:url(https://thumbs.dreamstime.com/b/key-love-letters-red-metal-spelling-top-iron-both-lying-concrete-textured-surface-concept-how-to-make-52808798.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
</style>

	<div class="container">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<h1 id="s1">Perfect Match</h1>
		<p id="s2">The perfect pet dog finding website</p>
		<button type="button" id="s2"><span class="label label-info"><a href="/dogs">Get started</a></span></button>
		
	</div>
	<div class="col-lg-3"></div>
	</div>

<%- include("partials/footer"); %>