<%- include("partials/header"); %>
<div class="container">
    <div class="jumbotron">
        <h1 style="color: chartreuse; font-family: Georgia, 'Times New Roman', Times, serif; ">Alert</h1>
        <p>Please first Login or sign up to proceed</p>
        <a href="/signin" class="btn btn-lg btn-success">Login</a>
        <a href="/signup" class="btn btn-lg btn-success">Sign-up</a>
    </div>
</div>


<%- include("partials/footer"); %>